@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply text-[#333]
  }

  h1.ce-header {
    display: block;
    font-size: 2em;
    font-weight: bold;
  }

  h2.ce-header {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
  }

  h3.ce-header {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
  }

  .ce-header {
    padding: 0.6em 0 3px;
    margin: 0;
    line-height: 1.25em;
    outline: none;
  }
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }

  .animation-fill-forwards {
    animation-fill-mode: forwards;
  }

}