@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
}

@layer utilities {
  .animation-pause {
    animation-play-state: paused;
  }

  .animation-fill-forwards {
    animation-fill-mode: forwards;
  }

}


html {
  @apply text-[#333]
}

h1.ce-header {
  font-size: 1.5rem;
  font-weight: 700;
}

h2.ce-header {
  font-size: 1.4rem;
  font-weight: bold;
}

h3.ce-header {
  font-size: 1.3rem;
  font-weight: bold;
}

.ce-paragraph {
  font-size: 1.1rem;
}

.ce-block__content, 
.ce-toolbar__content {
  max-width: 90%;  /* example value, adjust for your own use case */
}